
  <div class="page-header">
    <h1 class="text-center">About Us</h1>
  </div>
  <p class="lead text-center"></p>
  <div class="container">
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="http://images.media-allrecipes.com/userphotos/250x250/00/69/34/693494.jpg" alt="Texto Alternativo" class="img-thumbnail">
          <h2>Cake</h2>
          <p>I like to eat chocolate.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="https://foomandoonian.files.wordpress.com/2013/01/xkcd-1071-exoplanets-large.png" alt="Texto Alternativo" class="img-thumbnail">
          <h2>XKCD</h2>
          <p>This is so funny.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://www.phi-tek.com/wp-content/uploads/2015/06/Tesla_universe.jpg" alt="Texto Alternativo" class="img-thumbnail">
          <h2>Nikola Tesla</h2>
          <p>This guy is my hero.
          </p>
        </div>
      </div>
    </div>
  </div>
