<div class="card_customer">
  <div class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">
        <%= product.name %>
      </h4>

      </div>
    </div>
  <div class="card">
    <div class="card-block">
      <p class="card-text">
          Nothing to see here
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="card-text">
        <p class="card-text"><strong>Phone: </strong><%= product.category %></p>
        <p><strong>Email: </strong><%= product.description %></p>
        <p><strong>Province: </strong>
            Unknown
        </p>
      </div>
    </div>
  </div>
</div>
</div>
